*
{
    font-family: sans-serif;
}

h1
{
font-family: sans-serif;
color: red;
}

.h1
{
    font-size: 20px;
    color: sienna;
}

#h1
{
font-size: 15px;
color: skyblue;
}

span
{
    display: inline;
    margin-top: 15px;
}

.b {font-weight: 700;}

.i {font-style: italic;}

.u {text-decoration: underline;}

ul 
{
list-style-type: circle;
}

ol
{background-color: gray;
padding: 20px;
border: solid 5px red;
border-radius: 10px;}