* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header nav {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
}

header nav ul {
    height: 177px;
    width: 100%;
    padding: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul.center-menu {
    width: 150px;
}

header nav ul a.mobile-menu {
    display: none;
}

header.mobile nav ul {
    display: flex;
    flex-direction: column;
    height: 375px;
    padding: 0;
    align-items: flex-start;
}

header nav ul li {
    list-style: none;
    text-align: center;
}

li.logo img{
    vertical-align: middle;
    }

header nav ul li a {
    text-decoration: none;  
    color: rgb(40, 40, 40);
    transition: all 0.3s linear;
}

header.mobile nav ul li a {
    font-size: 10px;
    padding: 0px 5px;
} 

header nav ul li ul.sub-nav {
    position: absolute;
    display: none;
    width: 175px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 10px 10px;
}

header.mobile nav ul li ul.sub-nav {
    position: absolute;
    width: 210px;
    display: none;
}

header nav ul li a:hover {
    color: #000;
}

header nav ul li:hover .sub-nav {
    display: block;
    padding: 0px;
    height: 125px;
    padding-top: 10px;
}

header nav ul li:hover .sub-nav li {
    text-align: left;
    padding: 0px 0px 5px 20px;
}

header nav ul.social-media {
    padding: 0;
    height: 152px;
    width: 120px;
}

header nav ul li ul.social-media img {
    vertical-align: middle;
    max-width: 60%;
    opacity: 0.9;
    transition: 0.3s ease;
}

header nav ul li ul.social-media img:hover {
    opacity: 1;
    max-width: 80%;
}

a.nav-link {
    padding: 5px 3px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

a.active {
    background: rgba(125, 255, 22, 255);
    border-radius: 5px;
}

a.nav-link:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0px;
    background: linear-gradient(90deg, transparent, #000);
    transition: width 0.5s;
}

a.nav-link:hover:after {
    width: 100%;
}

@media (max-width: 1000px) {
    /*  wyswietlenie menu flex column
        header nav ul {
        height: 250px;
        width: 300px;
        padding-top: 5px;
        padding-left: 5px;
        padding: 5px 0 5px 5px;
        flex-direction: column;
        align-items: flex-start;
        background-color: aquamarine;
    }

    header nav ul li.logo {
        display: none;
    }

    header nav ul li:hover .sub-nav {
        display: none;
    } */

    header nav ul {
        padding: 10px 0 10px 20px;
        height: 70px;
        justify-content: flex-start;
        border-bottom: 2px solid #000;
    }

    header nav ul.social-media{
        height: 70px;
        width: 120px;
        display: flex;
        justify-content: space-between;
        border-bottom: none;
    }

    header nav ul.right-menu {
        justify-content: flex-end;
    }
    
    header nav ul li a.nav-link,
    ul.center-menu{
        display: none;
    }

    header nav ul a.mobile-menu {
        display: inline;
    }

    header nav ul li ul.social-media img:hover {
        max-width: 60%;
    }
    
}

main section {
    width: 100%;
    display: flex;
    justify-content: center;
}

main section img {
    max-width: 100%;
    max-height: 100%;
}