* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, 'Montserrat', sans-serif;
}

header nav {
    position: relative;
    left: 0px;
    top: 0px;
    display: flex;
}

header nav ul {
    height: 177px;
    width: 100%;
    padding: 25px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul.center-menu {
    width: 150px;
}

header nav ul a.mobile-menu {
    display: none;
}

header nav ul li {
    list-style: none;
    text-align: center;
}

li.logo img {
    vertical-align: middle;
    max-width: 150px;
}

a {
    text-decoration: none;
    color: rgb(40, 40, 40);
    transition: all 0.3s linear;
}

a:hover {
    color: #000;
}

header nav ul li ul.sub-nav {
    position: absolute;
    display: none;
    width: 300px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0px 0px 10px 10px;
}

header nav ul li:hover .sub-nav {
    display: block;
    padding: 0px;
    height: auto;
    padding-top: 10px;
}

header nav ul li:hover .sub-nav li {
    text-align: left;
    padding: 0px 0px 20px 20px;
}

header nav ul.social-media {
    padding: 0;
    height: 152px;
    width: 120px;
}

header nav ul li ul.social-media img {
    vertical-align: middle;
    max-width: 60%;
    opacity: 0.9;
    transition: 0.3s ease;
}

header nav ul li ul.social-media img:hover {
    opacity: 1;
    max-width: 80%;
}

a.nav-link {
    padding: 5px 3px;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

a.sub-link {
    font-size: 20px;
}

a.active {
    border-radius: 5px;
}

a#red {
    outline-color: crimson;
}

a#blue {
    outline-color: blue;
}

a#green {
    outline-color: rgba(125, 255, 22, 255);
}

a#yellow {
    outline-color: yellow;
}

a#black {
    outline-color: #000;
}

a.active#red,
a.active#blue,
a.active#green,
a.active#yellow {
    outline-color: #000;
}

a.active#red {
    background: crimson;
}

a.active#blue,
.articles-color {
    background: blue;
}

a.active#green,
.portfolio-color {
    background: rgba(125, 255, 22, 255);
}

a.active#yellow,
.services-color {
    background: yellow;
}

a.active#black,
.contact-color {
    background: black;
    color: white;
    outline-color: red;
}

a.nav-link:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0px;
    background: linear-gradient(90deg, transparent, #000);
    transition: width 0.5s;
}

a.nav-link:hover:after {
    width: 100%;
}

@media (max-width: 1110px) {

    header nav ul {
        padding: 10px 0 10px 20px;
        height: 70px;
        justify-content: flex-start;
        border-bottom: 2px solid #000;
    }

    header nav ul.social-media {
        height: 70px;
        width: 120px;
        display: flex;
        justify-content: space-between;
        border-bottom: none;
    }

    header nav ul.right-menu {
        justify-content: flex-end;
    }

    header nav ul li a.nav-link,
    ul.center-menu {
        display: none;
    }

    header.open nav {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    header.open nav ul.left-menu,
    header.open nav ul.right-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        height: max-content;
        padding-bottom: 0px;
    }

    header.open nav ul.right-menu {
        padding-top: 0px;
    }

    header.open nav ul.left-menu {
        border-bottom: none;
    }

    header.open nav ul li {
        margin-bottom: 10px;
    }

    header.open nav ul li:hover .sub-nav {
        display: none;
    }

    header.open nav ul li a {
        font-size: 15px;
        font-weight: 600;
        padding: 0px 5px;
    }

    header.open nav ul li a.nav-link {
        display: inline;
    }

    header nav ul a.mobile-menu {
        display: block;
    }

    header nav ul li ul.social-media img:hover {
        max-width: 60%;
    }

    a.active {
        background: #fff;
        border-radius: none;
    }

    a.nav-link:after {
        content: none;
        width: 0;
        height: 2px;
        position: absolute;
        top: 100%;
        left: 0px;
        background: linear-gradient(90deg, transparent, #000);
        transition: none;
    }
}

section.subpage-title {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

section.subpage-title h1 {
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}

section.main-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

section img.picture-below-nav {
    max-width: 100%;
}

.container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

section.content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 25px;
}

div.left-column {
    max-width: 700px;
    padding: 0px 10px 0 0;
}

div.left-column div {
    margin: 30px 0;
}

div.left-column p {
    padding: 15px 0;
}

div.center-column {
    margin: 0 0 30px 0;
}

div.center-column p {
    padding: 0 0 15px 0;
}

h1 {
    padding: 0 0 12px 0;
}

h3, h4, h5 {
    margin: 5px 0 10px 0;
}

div.right-column {
    font-size: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.right-column div.facebook-box,
div.right-column div.instagram-box,
div.right-column div.search-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    border: 1px solid gainsboro;
}

div.right-column div.search-box {
    height: fit-content;
}

div.facebook-box,
div.instagram-box {
    margin: 0 0 20px 0;
}

div.search-box {
    align-items: flex-start;
}

ul {
    list-style: none;
}

div.search-box li {
    margin: 10px 0;
}

.article-category {
    width: 100%;
    padding: 0 10px;
}

.contact {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contact-info  {
    padding: 10px 10px;
    display: inline;
    flex-basis: 35%;
    min-width: 350px;
}

.contact-form {
    flex-basis: 65%;
    min-width: 350px;
}

.input-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

input, textarea, button {
    font-size: 25px;
    border: 2px solid #000;
}

input, 
textarea
 {
    margin: 10px 5px 40px 5px;
    border-top: none;
    border-left: none;
    border-right: none;
}

label {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px 5px;
    cursor: text;
    transition: 0.2s;
}

button {
    padding: 10px 0px;
    outline: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    font-size: 20px;
    transform: translateY(-35px);
}


